<div class="mt-8 w-full">
  <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-200">Tasks</h2>

  <div class="mt-6">
    <%= render partial: "tasks_list_controls", locals: { tasks: @tasks } %>
  </div>

  <div class="mt-5">
    <%= render partial: "tasks_list", locals: { tasks: @tasks } %>
  </div>
</div>
