<div class="mt-8 w-full">
  <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-200">Create a new task</h2>

  <div class="mt-6 p-10 bg-white w-full rounded-xl shadow-md shadow-black ">
    <%= render partial: "form" %>
  </div>
</div>
